html
  height: 100vh

body
  min-height: 100vh

  color: $color-font-main
  font-family: $font-main
  margin: 0

a
  text-decoration: none
  color: inherit

h1,h2
  margin: 0

.content
  width: 80%
  +breakpoint(md)
    width: 60%
  min-height: 40vh
  margin: $margin-unit auto

@import header
@import footer
