<section id="phaser-prototypes">
  <header>
    <h1>- phaser prototypes -</h1>
  </header>
  <div class="content">
    <h3>Phaser Prototypes</h3>
    <p>These are two platformer prototypes created long time ago just for testing some pixel art graphics I made, so don't expect any good game experience in this examples.</p>
    <p>They use the <a href="http://phaser.io/" target="_blank">Phaser</a> engine.</p>
    <p>Check the prototypes:</p>
    <ul>
      <a href="/games/Pablo"><li>Pablo</li></a>
      <a href="/games/Insurgente"><li>Insurgente</li></a>
    </ul>
  </div>
</section>

