<head>
  <meta charset="utf-8">
  <meta name="author" content="Stefan Devai">                                                                                                                                                     
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>

  <link rel="stylesheet" href="../css/en_styles.css">
  <script type="text/javascript" src="../js/zepto.min.js" defer></script>
  <script type="text/javascript" src="../js/en-scripts.js" defer></script>
</head>
