<header class="header-wrapper">
  <h1 class="heading"><span class="secondary-color">{</span> stefan dévai <span class="secondary-color">}</span></h1>
  <h2 class="sub-heading"><em>webdev && gamedev</em></h2>

  <nav class="main-nav">
    <ul class="menu main-menu">
      <li><a href="projects">projects</a></li>
      <li class="secondary-color">|</li>
      <li><a href="../assets/cv_english.png" target="_blank">résumé</a></li>
      {% comment %}<li class="secondary-color">|</li>{% endcomment %}
      {% comment %}<li><a href="../">blog</a></li>{% endcomment %}
    </ul>
  </nav>
</header>

