<section id="stella-engine">
  <header>
    <h1>- stella engine -</h1>
  </header>
  <div class="content">
    <h3>Stella Engine:</h3>
    <p>A cross-platform 2D C++/OpenGL game engine. It's currently in its early development phase.</p>
    <h4>Current features:</h4>
    <ul>
      <li>Batch Rendering</li>
      <li>Spritesheets</li>
      <li>Animations</li>
      <li>Particles</li>
      <li>Framebuffers</li>
      <li>Bitmap font rendering using awesome usr_share Grafx2 fonts</li>
      <li>Responsive audio streaming</li>
      <li>Basic 2D AABB physics</li>
    </ul>

    <p><a href="https://github.com/stefandevai/stella-engine" target="_blank">GitHub repository</a></p>
  </div>
</section>
