<header class="header-wrapper">
  <h1 class="heading"><span class="secondary-color">{</span> <span class="name-title">stefan dévai</span> <span class="secondary-color right-bracket">}</span></h1>
  <h2 class="sub-heading"><em>webdev && gamedev</em></h2>

  <nav class="main-nav">
    <ul class="menu main-menu">
      <li><a href="projects">projects</a></li>
      <li class="secondary-color">|</li>
      <li><a href="../assets/cv_english.png" target="_blank">résumé</a></li>
      <li class="secondary-color">|</li>
      <li><a href="/blog">blog</a></li>
    </ul>
  </nav>
</header>

