<header class="header-wrapper">
  <div class="video-container">
    <video autoplay muted loop class="factory-video" >
      <source src="/vid/factories.mp4"></source>
    </video>
  </div>

  <h1 class="heading"><span class="secondary-color">{</span> <span class="name-title">stefan dévai</span> <span class="secondary-color right-bracket">}</span></h1>
  <h2 class="sub-heading"><em>webdev && gamedev</em></h2>

  {% comment %}<nav class="main-nav">{% endcomment %}
    {% comment %}<ul class="menu main-menu">{% endcomment %}
      {% comment %}<li><a href="projects">projects</a></li>{% endcomment %}
      {% comment %}<li class="secondary-color">|</li>{% endcomment %}
      {% comment %}<li><a href="../assets/cv_english.png" target="_blank">résumé</a></li>{% endcomment %}
      {% comment %}<li class="secondary-color">|</li>{% endcomment %}
      {% comment %}<li><a href="/blog">blog</a></li>{% endcomment %}
    {% comment %}</ul>{% endcomment %}
  {% comment %}</nav>{% endcomment %}
</header>

