<header>
  <h1 class="heading"><span class="secondary-color">{</span> projects <span class="secondary-color">}</span></h1>

  <nav class="projects-nav">
    <ul class="menu projects-menu">
      <span class="hidden-sm">
      <li><a href="#stella-engine">stella engine</a></li>
      <li class="secondary-color">|</li>
      <li><a href="#phaser-prototypes">phaser prototypes</a></li>
      <li class="secondary-color">|</li>
      <li><a href="#n-flakes">n flakes</a></li>
      <li class="secondary-color">|</li>
      <li><a href="#beep-player">beep player</a></li>
      <li class="secondary-color">|</li>
      <li><a href="#chiptunes">chiptunes</a></li>
      <li class="secondary-color">|</li>
      </span>
      <li><a href="/">home</a></li>
    </ul>
  </nav>
</header>

