.menu
  text-align: right
  position: fixed
  right: 17.84%
  top: 170px

  ul
    list-style-type: none

    li
      margin-top: 20px
      padding-right: 10px

.menu-highlight
  border-right: 3px solid $color-branding
  color: $color-branding
  font-weight: 900
