@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:400,400i,700,700i');

$head-font: 'Playfair Display', serif;
$base-font: 'Raleway', sans-serif;
$brand-color: #df4c4c;
$base-color: #777;
$head-color: #333;
    

