<header class="m-header">
  <div class="background-layer">
  </div>

  <div class="poem" id="poem">

    <p class="paragraph-1">
      <span id="line-1">Si la</span><br>
      <span id="line-2">clase</span><br>
      <span id="line-3">obrera</span><br>
      <span id="line-4">todo lo produce,</span><span id="particle-generator-1"></span>
    </p>

    <p class="paragraph-2">
      <span id="line-1">a la</span><br>
      <span id="line-2">clase</span><br>
      <span id="line-3">obrera</span><br>
      <span id="line-4">todo le pertenece.</span><span id="particle-generator-2"></span>
    </p>

  </div>

  <h1 id="blog-title">Axiomas<br>Extranjeros</h1>
</header>

