<head>
  <meta charset="utf-8">
  <meta name="author" content="Stefan Devai">                                                                                                                                                     
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>
    
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
  <script type="text/javascript" src="js/letter-particles.js" defer></script>
  <script type="text/javascript" src="js/scripts.js" defer></script>
</head>

