<nav class="m-nav">
  {% comment %}<div class="logo"><a href="/">Stefan Dévai</a></div>{% endcomment %}
  <div class="menu">
    <input type="checkbox" class="open-menu" id="open-menu">
    <div class="hamburger-bg"></div>
    <label for="open-menu">
      <div class="diagonal"></div>
      <div class="horizontal"></div>
      <div class="diagonal"></div>
    </label>
  </div>

  {% comment %}<ul>{% endcomment %}
    {% comment %}<li><a href="#posts">LEER</a></li>{% endcomment %}
    {% comment %}<li><a href="#">CATEGORÍAS</a></li>{% endcomment %}
    {% comment %}<li><a href="#">SOBRE</a></li>{% endcomment %}
  {% comment %}</ul>{% endcomment %}
</nav>

