<section class="posts" id="posts">
  {% for post in site.posts %}
    <a class="blog-post" href="{{ post.url }}">
    <article class="">

      <div class="post-link" href="{{ post.url }}">
      </div>

      <div class="post-info" id="post-info">
          <h3 class="post-title">
              <span>
                    {{ post.title }}
              </span>
          </h3>

          <div class="post-meta">
            <em>
              <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: '%d.%m.%Y' }}</time>
            </em>
          </div>
          <p class="post-content-preview"> {{ post.description }} </p>
      </div>

      <div class="post-thumbnail"><img src="{{ post.img }}" alt=""></img></div>

    </article>
    </a>
  {% endfor %}
</section>
