<section class="posts" id="posts">
  {% for post in site.posts %}
    <article class="blog-post">

      <a class="post-link" href="{{ post.url }}">
      </a>

      <h2 class="post-title">
        <a href="{{ post.url }}">
          <span class="highlight-text">
            {{ post.title }}
          </span>
        </a>
      </h2>

      <img class="post-thumbnail" src="https://ae01.alicdn.com/kf/HTB1PJM4NVXXXXcYXVXXq6xXFXXXk/photo-wallpaper-modern-art-Galactic-cosmic-sky-zenith-3d-nebula-mural-bedroom-living-room-large-mural.jpg_640x640.jpg" alt="">

      <div class="post-info">
        <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
      </div>


    </article>
  {% endfor %}
</section>
