/*******************************/                                                                                                                                                                 
/********** VARIABLES **********/
/*******************************/

/********* FONTS *********/
//@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,900,900i|Raleway:400,400i,900,900i')
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700|Raleway:400,400i,900,900i')
//$font-heading: 'Noto Serif', serif
$font-heading: 'PT Serif', serif
$font-base: 'Raleway', sans-serif

/********* COLORS *********/
$color-base: #666
$color-font-dark: $color-base
$color-heading: #333
$color-branding: #df4c4c

/*******************************/
/*********** MIXINS ************/
/*******************************/
=breakpoint($point)
  @if $point == lg
    @media(min-width: 992px)
      @content
  @else if $point == md
    @media(min-width: 768px)
      @content
  @else if $point == sm
    @media(min-width: 576px)
      @content

