footer
  position: relative
  height: 55px
  width: 100%
  background-color: $color-hla

footer:before
  position: absolute
  content: ""
  height: 50px
  width: 100%
  bottom: 0
  background-color: $color-hlb

footer:after
  position: absolute
  content: ""
  height: 45px
  width: 100%
  bottom: 0
  background-color: $color-base
