footer
  position: relative
  height: $footer-height + 10px
  width: 100%
  background-color: $color-hla

footer:before
  position: absolute
  content: ""
  height: $footer-height + 5px
  width: 100%
  bottom: 0
  background-color: $color-hlb

footer:after
  position: absolute
  content: ""
  height: $footer-height
  width: 100%
  bottom: 0
  background-color: $color-base
