.m-header
  overflow: hidden
  margin: 0
  width: inherit
  min-height: 100vh
  background-color: $color-branding

#line-1
  animation: reveal .5s ease
  animation-fill-mode: forwards
  clip-path: inset(0 100% 0 0)

#line-2
  animation: reveal .5s ease
  animation-delay: .5s
  animation-fill-mode: forwards
  clip-path: inset(0 100% 0 0)

#line-3
  animation: reveal .5s ease
  animation-delay: 1s
  animation-fill-mode: forwards
  clip-path: inset(0 100% 0 0)

#line-4
  animation: reveal .5s ease
  animation-delay: 1.5s
  animation-fill-mode: forwards
  clip-path: inset(0 100% 0 0)

+keyframes(reveal)
  from
    clip-path: inset(0 100% 0 0)
  to
    clip-path: inset(0 0 0 0)

.heading
  width: 80%
  margin: 0 auto
  font-size: 1.7em 
  font-weight: 900
  color: white

  div.paragraph-wrapper
    margin-bottom: 90px
    margin-top: 60px
    -webkit-transform: rotate(-90deg)
    -moz-transform: rotate(-90deg)
    -ms-transform: rotate(-90deg)
    -o-transform: rotate(-90deg)

  +breakpoint(md)
    width: 50%
    margin: 0 auto 0 250px
    -webkit-transform: rotate(-90deg)
    -moz-transform: rotate(-90deg)
    -ms-transform: rotate(-90deg)
    -o-transform: rotate(-90deg)

    div.paragraph-wrapper
      margin-top: 0
      -webkit-transform: rotate(0deg)
      -moz-transform: rotate(0deg)
      -ms-transform: rotate(0deg)
      -o-transform: rotate(0deg)
    
.letter-particle
  display: inline-block
  position: absolute
  opacity: 1

