.m-header
  overflow: hidden
  margin: 0
  width: inherit
  min-height: 93vh
  //background-image: url("/img/factory.jpg")
  //background-position: -50px 0
  //background-attachment: fixed
  //+breakpoint(sm)
    //background-image: url("/img/factory_flipped.jpg")
  //+breakpoint(md)
    //min-height: 100vh
  //background-repeat: no-repeat

  -webkit-box-shadow: 0 -7px 28px -7px rgba(0,0,0,0.2)
  -moz-box-shadow: 0 -7px 28px -7px rgba(0,0,0,0.2)
  box-shadow: 0 -7px 28px -7px rgba(0,0,0,0.2)

#line-1
  animation: reveal .5s ease
  animation-fill-mode: forwards
  clip-path: inset(0 100% 0 0)

#line-2
  animation: reveal .5s ease
  animation-delay: .5s
  animation-fill-mode: forwards
  clip-path: inset(0 100% 0 0)

#line-3
  animation: reveal .5s ease
  animation-delay: 1s
  animation-fill-mode: forwards
  clip-path: inset(0 100% 0 0)

#line-4
  animation: reveal .5s ease
  animation-delay: 1.5s
  animation-fill-mode: forwards
  clip-path: inset(0 100% 0 0)

+keyframes(reveal)
  from
    clip-path: inset(0 100% 0 0)
  to
    clip-path: inset(0 0 0 0)

.heading
  width: 80%
  margin: 0 auto
  font-size: 1.7em 
  font-weight: 900

  div.paragraph-wrapper
    margin-bottom: 90px
    margin-top: 60px
    -webkit-transform: rotate(-90deg)
    -moz-transform: rotate(-90deg)
    -ms-transform: rotate(-90deg)
    -o-transform: rotate(-90deg)

  +breakpoint(md)
    width: 50%
    margin: 0 auto 0 250px
    -webkit-transform: rotate(-90deg)
    -moz-transform: rotate(-90deg)
    -ms-transform: rotate(-90deg)
    -o-transform: rotate(-90deg)

    div.paragraph-wrapper
      margin-top: 0
      -webkit-transform: rotate(0deg)
      -moz-transform: rotate(0deg)
      -ms-transform: rotate(0deg)
      -o-transform: rotate(0deg)
    
.letter-particle
  display: inline-block
  position: absolute
  opacity: 1
  color: $color-branding

