body
  margin: 0
  padding: 0
  height: 100%
  font-family: $font-base
  color: $color-font-dark

h1, h2, h3, h4
  margin: 0
  font-weight: 400
  font-family: $font-heading
  color: $color-heading

a
  color: inherit
  text-decoration: none

@import blog/header
@import blog/content
@import blog/sections/proyectos
@import blog/sections/textos

