.content-post
  display: grid
  grid-template-columns: 20% 1fr 20%
  grid-template-rows: 70vh 1fr
  line-height: 1.5rem

  .header-img
    grid-column: 1 / -1
    grid-row: 1 / 2
    background-attachment: fixed
    background-size: cover
    background-position: left bottom
    background-repeat: no-repeat

  header
    grid-column: 2 / span 1
    grid-row: 1 / 2

    display: flex
    align-items: flex-end

    h1
      background-color: white
      font-size: 2.5rem
      padding: $base-pixel-unit*2 $base-pixel-unit $base-pixel-unit $base-pixel-unit
    
  main
    grid-column: 2 / span 1
    margin: $base-pixel-unit*4 $base-pixel-unit

  p
    margin: $base-pixel-unit/2 0 $base-pixel-unit*2 0

  ul
    margin: $base-pixel-unit/2 0 $base-pixel-unit*2 0

  li
    margin: $base-pixel-unit/2 0 $base-pixel-unit 0

