.posts
  min-height: 100vh
  margin: $base-pixel-unit 0 $base-pixel-unit*4 0
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr))
  grid-column-gap: $base-pixel-unit
  grid-row-gap: $base-pixel-unit*3

article.blog-post
  display: grid
  grid-template-columns: repeat(8, 1fr)
  grid-template-rows: repeat(5, $base-pixel-unit*4) minmax($base-pixel-unit*4, 1fr) $base-pixel-unit*3

  a.post-link
    z-index: 5
    grid-column: 1 / -1
    grid-row: 1 / span 4

  a.post-link:hover ~ .post-thumbnail > img
    -webkit-filter: none
    filter: none

  a.post-link:hover ~ div.post-date
    -webkit-animation: reveal-thumb .5s ease
    -moz-animation: reveal-thumb .5s ease
    animation: reveal-thumb .5s ease
    clip-path: inset(0 0 0 0)
    
  div.post-thumbnail
    z-index: 1
    grid-column: 1 / -1
    grid-row: 1 / 5
    img
      width: 100%
      height: 100%
      object-fit: cover
      -webkit-filter: grayscale(100%)
      filter: grayscale(100%) brightness(150%)

      -webkit-transition: -webkit-filter .3s
      transition: -webkit-filter .3s
      -webkit-transition: filter .3s
      transition: filter .3s

  h3
    grid-column: 2 / 8
    grid-row: 4 / 6

    display: flex
    align-items: center
    justify-content: flex-start

    z-index: 2
    font-size: 1.8rem
    font-weight: bold
    color: $color-heading
    text-align: left

    a
      background-color: $color-hla

    a:hover
      text-decoration: underline

  p.post-content-preview
    grid-column: 2 / 8
    color: $color-p

  .post-date
    clip-path: inset(100% 0 100% 0)
    z-index: 2
    grid-column: 1 / -1
    grid-row: 1 / span 4

    color: white
    font-weight: bold
    font-style: italic
    font-size: 2.3rem
    background-color: black
    opacity: 0.7
    -webkit-transition: clip-path .2s
    transition: clip-path .2s

    display: flex
    justify-content: center
    align-items: center

  .post-read-more
    grid-column: 2 / span 2
    display: flex
    justify-content: center
    align-items: center

    text-transform: uppercase
    font-weight: bold
    font-size: 0.8rem
    color: $color-base
    background-color: lighten($color-base, 60%)
    border-bottom: 2px solid lighten($color-base, 40%)
    border-radius: 3px

    -webkit-transition: all .3s
    transition: all .3s

  .post-read-more:hover
    background-color: lighten($color-base, 45%)
    border-bottom: 2px solid lighten($color-base, 30%)

