@import "src/styles/definitions"

.site
  display: flex
  min-height: 100vh
  flex-direction: column

.content
  margin: 0 auto
  max-width: $layout-content-width
  width: 100%
  padding-left: base-width(0.8)
  padding-right: base-width(0.8)
  padding-top: base-height(1.5)
  padding-bottom: base-height(1)
  flex-grow: 1
  @media (max-width: 672px)
    padding-left: base-width(2.0)
    padding-right: base-width(2.0)
  @media (max-width: 500px)
    padding-left: base-width(0.8)
    padding-right: base-width(0.8)

