pre[class*='language-'],
code[class*='language-'] {
	margin: 1.5rem 0 1.5rem 0;
	font-family: 'Ubuntu Mono', monospace;
	font-size: var(--font-size-small);
}

.footnotes {
	font-size: var(--font-size-small);
	margin-top: 2rem;
	padding-top: 2rem;
	border-top: 1px solid var(--color-border);
}

.footnotes > hr {
	display: none;
}

.footnotes > ol {
	margin: 0 2rem 0 2rem;
}

.footnotes li {
	margin-bottom: 1rem;
}
