<!DOCTYPE html>
<html lang="en">
  {% include en/head.html %}
	<body>
    <div class="projects-header">
      <div class="bg-wrapper">
        <div class="img-wrapper">
          <div class="page-wrapper">
              {% include en/projects.html%}
          </div>
        </div>
      </div>
    </div>
    {% include en/projects/generics.html%}
    {% include en/projects/stella-engine.html%}
    {% include en/projects/phaser.html%}
    {% include en/projects/n-flakes.html%}
    {% include en/projects/beep-player.html%}
    {% include en/projects/chiptunes.html%}
	</body>
</html>

