<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ site.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all">
  </head>
  <body class="full-height">
		<div class="wrapper container-fluid full-height">
			<div class="row full-height">
				<section class="col-sm-5 col-sm-offset-2">
					<header class="main-heading">
						<h1><em>Si la clase obrera <strong>todo</strong> produce,<br/>a ella <strong>todo</strong> le pertenece.</em></h1>
					</header>
				</section>
				<section class="col-sm-2 col-sm-offset-1">
					<nav class="menu">
						<ul>
							<li class="menu-highlight"><a href="/"><em>início</em></a></li>
							<li><a href="/about"><em>sobre</em></a></li>
							<li><a href="/proyectos"><em>proyectos</em></a></li>
							<li><a href="/blog"><em>blog</em></a></li>
							<li><a href="/notas"><em>notas</em></a></li>
						</ul>
					</nav>
				</section>
			</div>
		</div>
  </body>
</html>
