<!doctype html>
<html lang="en">
	{% include head.html %}
  <body class="full-height">
		<div class="wrapper container-fluid full-height">
			<div class="row full-height">
				<section class="col-sm-5 col-sm-offset-2">
					<header class="main-heading">
						<h1><em>Si la clase obrera <strong>todo</strong> lo produce,<br/>a ella <strong>todo</strong> le pertenece.</em></h1>
					</header>
				</section>
				<section class="col-sm-2 col-sm-offset-1">
					{% include menu.html %}
				</section>
			</div>
		</div>
		<div class="container-fluid full-height page-section projects-section">
			<div class="row full-height">
				<section class="col-sm-5 col-sm-offset-2">
					{% include proyectos_partial.html %}	
				</section>
			</div>
		</div>
		<div class="container-fluid full-height page-section notes-section">
			<div class="row full-height">
				<section class="col-sm-5 col-sm-offset-2">
					{% include notas_partial.html %}	
				</section>
			</div>
		</div>
		<div class="container-fluid full-height page-section about-section">
			<div class="row full-height">
				<section class="col-sm-5 col-sm-offset-2">
					{% include sobre_partial.html %}	
				</section>
			</div>
		</div>
  </body>
</html>

