<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
	<body>
    <div class="projects-header">
      <div class="bg-wrapper">
        <div class="img-wrapper">
          <div class="page-wrapper">
              {% include projects.html%}
          </div>
        </div>
      </div>
    </div>
    {% include projects/generics.html%}
    {% include projects/stella-engine.html%}
    {% include projects/phaser.html%}
    {% include projects/n-flakes.html%}
    {% include projects/beep-player.html%}
    {% include projects/chiptunes.html%}
	</body>
</html>

