:root {
	--color-black: #111;
	--color-white: #fefefe;
	--color-gray1: #555;
	--color-gray2: #ddd;
	--color-gray3: #aaa;
	--color-red: #e32110;
	--color-red2: #ef2f1f;

	--color-anchor: var(--color-red);
	--color-border: var(--color-gray2);

	--font-size-small: 0.8rem;
	--font-size-small2: 14px;
	--font-size-very-small: 12px;
	--font-size-normal: 1rem;
	--font-size-medium: 1.5rem;
	--font-size-large: 2.5rem;

	--layout-max-width: 900px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Bitter', serif;
	color: var(--color-black);
	background-color: var(--color-white);
	line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: normal;
}

a {
	color: var(--color-anchor);
	text-decoration: none;
}

main {
	max-width: var(--layout-max-width);
	margin: 0 auto;
	padding: 1rem;
}

.tag {
	background-color: var(--color-gray2);
	color: var(--color-gray1);
	font-size: var(--font-size-very-small);
	padding: 0 0.5rem;
}

.tag:not(:first-child) {
	margin-left: 0.5rem;
}
