:root {
	--color-black: #111;
	--color-black2: #15141A;
	--color-white: #fefefe;
	--color-gray1: #555;
	--color-gray2: #ddd;
	--color-gray3: #aaa;
	--color-gray4: #aaa;
	--color-red: #e32110;
	--color-red2: #ef2f1f;
	--color-red3: #f26f63;
	--color-red4: #b51909;

	--color-text: var(--color-black2);
	--color-anchor: var(--color-red);
	--color-anchor-hover: var(--color-red3);
	--color-anchor-active: var(--color-red4);
	--color-border: var(--color-gray2);
	--color-read-more: var(--color-black);
	--color-drop-cap: var(--color-red2);
	--color-blockquote: var(--color-gray1);

	--font-size-small: 0.8rem;
	--font-size-small2: 14px;
	--font-size-very-small: 12px;
	--font-size-normal: 1.1rem;
	--font-size-medium: 1.5rem;
	--font-size-large: 2.2rem;
	--font-size-large2: 2.8rem;
	--font-size-very-large: 4rem;

	--layout-max-width: 900px;
	--nav-height: 64px;
	--text-horizontal-margin: 100px;
	--text-vertical-margin: 1.5rem;
	--border-radius-main: 2px;
}

@media (max-width: 850px) {
	:root {
		--text-horizontal-margin: 2rem;
	}
}

@media (max-width: 750px) {
	:root {
		--text-horizontal-margin: 0rem;
	}
}

/* Hack to fix optional display on firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=1486158 */
@supports (-moz-transform: translate(0, 0)) {
	@font-face {
		font-family: 'Bitter';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src:
			local('Bitter Regular'),
			local('Bitter-Regular'),
			url('/fonts/bitter-regular.woff2') format('woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
			U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}

	@font-face {
		font-family: 'Bitter';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src:
			local('Bitter Bold'),
			local('Bitter-Bold'),
			url('/fonts/bitter-regular.woff2') format('woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
			U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}

	@font-face {
		font-family: 'Bitter';
		font-style: italic;
		font-weight: 400;
		font-display: swap;
		src:
			local('Bitter Italic'),
			local('Bitter-Italic'),
			url('/fonts/bitter-italic.woff2') format('woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
			U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}
}
@supports not (-moz-transform: translate(0, 0)) {
	@font-face {
		font-family: 'Bitter';
		font-style: normal;
		font-weight: 400;
		font-display: optional;
		src:
			local('Bitter Regular'),
			local('Bitter-Regular'),
			url('/fonts/bitter-regular.woff2') format('woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
			U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}

	@font-face {
		font-family: 'Bitter';
		font-style: normal;
		font-weight: 700;
		font-display: optional;
		src:
			local('Bitter Bold'),
			local('Bitter-Bold'),
			url('/fonts/bitter-regular.woff2') format('woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
			U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}

	@font-face {
		font-family: 'Bitter';
		font-style: italic;
		font-weight: 400;
		font-display: optional;
		src:
			local('Bitter Italic'),
			local('Bitter-Italic'),
			url('/fonts/bitter-italic.woff2') format('woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
			U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	color: var(--color-text);
	background-color: var(--color-white);
}

body {
	font-family: 'Bitter', 'Georgia', serif;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p,
ul {
	line-height: 1.8;
	font-size: var(--font-size-normal);
	margin-top: var(--text-vertical-margin);
	margin-bottom: var(--text-vertical-margin);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: normal;
	margin: var(--text-vertical-margin) 0;
}

a {
	color: var(--color-anchor);
	text-decoration: none;
}

a:hover {
	color: var(--color-anchor-hover);
}

a:active {
	color: var(--color-anchor-active);
}

button,
input[type='submit'],
input[type='reset'] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h2 {
	font-size: var(--font-size-medium);
}

h3 {
	font-size: var(--font-size-normal);
}

main {
	max-width: var(--layout-max-width);
	margin: 0 auto;
	padding: 0 1rem 3rem 1rem;
}

.brand-diamond {
	color: var(--color-red2);
	font-size: var(--font-size-normal);
	font-weight: 600;
}
